* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eee;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

.container {
  padding: 0 10%;
}

.dark {
  color: white;
  background-color: #35424a;
  padding: 20px;
}

/* Navigation */
header {
  padding: 20px 0;
  background-color: #35424a;
  border-bottom: 3px solid orangered;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  margin: 10px 0;
}

.logo span {
  color: orangered;
}

.nav-item {
  display: inline-block;
  color: #fff;
  padding: 0 10px;
  font-size: 1.2rem;
}

.nav-item:hover:not(.active) {
  color: #ccc;
}

.active {
  color: orangered;
}

/* Hero section */
#hero {
  text-align: center;
  color: #fff;
  background: url("../images/showcase.jpg") no-repeat 0 -400px;
  padding: 10% 0;
}

#hero h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

#hero p {
  font-size: 18px;
}

/* Newsletter section */
#newsletter {
  background-color: #35424a;
  padding: 2% 0;
}

#newsletter > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#newsletter h3 {
  color: white;
  font-size: 1.5rem;
  margin: 20px 0;
}

#newsletter input {
  padding: 10px 20px;
  outline: none;
  border: none;
}

#newsletter input[type="email"] {
  width: 250px;
}

input[type="submit"] {
  background-color: orangered;
  color: white;
  cursor: pointer;
  border: none;
}

/* Feature Section */
#features {
  padding: 4% 0;
}

#features > div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.feature-box {
  text-align: center;
  padding: 0 10px;
}

.feature-box img {
  width: 30%;
  height: auto;
}

.feature-box h3 {
  margin: 20px 0;
}

/* About us section */
#main-area {
  padding: 40px 0;
}

#main-area > div {
  display: flex;
}

.main-content {
  flex: 3;
}

.sidebar {
  flex: 1;
  margin-left: 40px;
}

#main-area p {
  text-align: justify;
  margin-top: 20px;
}

/* Services section */
.service-box {
  background-color: #ccc;
  padding: 40px;
  margin: 20px 0;
}

.sidebar.quote {
  align-self: flex-start;
}

.sidebar.quote form {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.sidebar.quote input,
textarea {
  padding: 10px;
  margin-bottom: 15px;
  outline: none;
  resize: none;
}

/* footer */
footer {
  padding: 40px 0;
  background-color: orangered;
  color: white;
  text-align: center;
}

@media (max-width: 920px) {
  #hero h1 {
    font-size: 2.5rem;
  }

  #hero p {
    font-size: 1rem;
    font-weight: 100;
  }

  #newsletter h3 {
    font-size: 1.2rem;
  }

  #newsletter input[type="email"] {
    width: 200px;
  }
}

@media (max-width: 750px) {
  header {
    padding: 10px;
  }
  .navbar {
    flex-direction: column;
  }

  #newsletter > div {
    flex-direction: column;
  }

  #newsletter form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
  }

  #newsletter input[type="email"] {
    width: 100%;
    margin-bottom: 10px;
  }

  #features > div {
    flex-direction: column;
  }

  .feature-box {
    margin: 20px 0;
  }

  #main-area > div {
    flex-direction: column;
  }

  .sidebar {
    margin-left: 0;
    margin-top: 20px;
  }

  .sidebar.sidebar.quote {
    align-self: auto;
  }
}
